<%- include('../partials/header') %>
<section class="container mt-5">
    <h2>Editar Categoría</h2>
    <form action="/categories/edit/<%= category.ID %>" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Categoría <span class="text-danger">*</span></label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="<%= category.NOMBRE %>" required />
        </div>

        <button type="submit" class="btn btn-success">Actualizar</button>
        <a href="/categories" class="btn btn-secondary">Cancelar</a>
    </form>
</section>
<%- include('../partials/footer') %>
